<div class="container" style="margin:0 auto;">
	<h1>Artículos</h1><a href="/articles/new" class="btn be-red white">Nuevo articulo</a><a href="/dashboard" class="btn">Tablero</a>
	<div class="row">
		<%= render @articles%>
	</div>
	<div class="top-space text-center">
		<%= will_paginate @articles %>
	</div>
</div>
