<article>
	<header class="text-right be-small">
	</header>
	<div class="row">
		<div class="col-xs-1 col-md-1">
			<div class="box">
				<%= image_tag(coment.user.avatar) %>
			</div>
		</div>
		<div class="col-xs-11 col-md-10">
			<div class="box">
				<%= coment.body %>
			</div>
		</div>
	</div>
</article>
